@import 'nib'
@import 'jeet'
@import 'rupture'

global-reset()

greenColor = #50E3C2

html, body
  height 100%

body
  background greenColor

.float-box
  display table
  margin 0 auto
  width 60%
  height 100%

  .logo
    display table-cell
    vertical-align middle
